@use 'chisel.css/dist/chisel.css';
@use 'chisel.css/dist/chisel-prism.css';
@use '@fontsource/playfair-display/scss/mixins' as PlayfairDisplay;

@include PlayfairDisplay.fontFace(
  $weight: 700,
  $display: fallback,
  $fontDir: "/style/@fontsource/playfair-display/files"
);

:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-display: "Playfair Display", Georgia, Times, serif;

  /* Spacer Sizes */
  --spacer-tiny: 0.25rem;
  --spacer-xs: 0.5rem;
  --spacer-sm: 1rem;
  --spacer-md: 2.5rem;
  --spacer-lg: 4rem;
  --spacer-xl: 6rem;

  /* Buttons */
  --icon-btn-size: 36px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  font-family: var(--font-family-display);
}

:focus-visible {
  outline: 3px solid var(--chisel-secondary);
}

.container {
  --container-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr calc(100% - 2rem) 1fr;
  column-gap: var(--container-gap);
  padding: var(--container-gap) 0;
}

.container > * {
  grid-column: 2;
}

.container > .full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

button,
.button {
  border-color: var(--chisel-primary);
  background-color: var(--chisel-primary);
  color: var(--chisel-neutral-50);

  &:hover,
  &:focus {
    border-color: var(--chisel-neutral-300);
    background-color: var(--chisel-neutral-300);
  }
}

button.secondary,
.button.secondary {
  border-color: var(--chisel-secondary);
  background-color: var(--chisel-secondary);
  color: var(--chisel-neutral-50);
}

button.subtle,
.button.subtle {
  border-color: var(--chisel-neutral-300);
  background-color: var(--chisel-neutral-300);
  color: var(--chisel-neutral-900);

  &:hover,
  &:focus {
    border-color: var(--chisel-neutral-400);
    background-color: var(--chisel-neutral-400);
  }
}

button.icon,
.button.icon {
  height: var(--icon-btn-size);
  width: var(--icon-btn-size);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: var(--chisel-neutral-50);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (min-width: 640px) {
  :root {
    --icon-btn-size: 48px;
  }

  .container {
    --container-gap: 2rem;
    grid-template-columns: 1fr min(calc(100% - 4rem), 1200px) 1fr;
  }

  .container.container--prose {
    grid-template-columns: 1fr min(65ch, calc(100% - 4rem)) 1fr;
  }
}
