---
import Note from '@components/Note.astro'
import Layout from '@layouts/Base.astro'
import { fetchArticles } from '@utils/api.js'
import { identifierToSlug } from '@utils/slugs.js'
import type { Article } from 'schema-dts'

export async function getStaticPaths() {
  const allNotes = await fetchArticles('notes')

  return allNotes.map(note => ({
    params: {
      slug: identifierToSlug(note.identifier!.toString()),
    },
    props: { note },
  }))
}

const { note } = Astro.props as { note: Article }
---

<Layout title={note.name?.toString()} pathname={Astro.url.pathname}>
  <section>
    <Note note={note} />
  </section>
</Layout>

<style lang="scss">
  section {
    padding-top: var(--spacer-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
