---
import { Sprite } from "astro-icon"
import ArticlePreview from "./ArticlePreview.astro"
import Show from "./Show.astro"
import { fetchArticles } from "@utils/api.js"

export interface Props {
  title: string
  ids?: string[]
}

const { title, ids } = Astro.props as Props

const articles = await fetchArticles('articles', ids)
---

<section>
  <Show when={!!title}>
    <h2>{title}</h2>
  </Show>

  <ol>
    {articles.map((article) => (
      <li>
        <ArticlePreview article={article} />
      </li>
    ))}
  </ol>

  <Show when={!!ids}>
    <a href="/articles">
      See All Articles
      <Sprite name="arrow-right" size={32} />
    </a>
  </Show>
</section>

<style lang="scss">
  h2 {
    font-size: var(--chisel-h4);
  }

  ol {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  a {
    font-size: var(--chisel-h5);
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: end;

    & :global(svg) {
      margin-left: var(--spacer-xs);
      will-change: transfrom;
      transition: transform 150ms ease;
    }

    &:hover :global(svg) {
      transform: translateX(var(--spacer-sm));
    }
  }

  @media (min-width: 979px) {
    ol {
      grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
    }
  }
</style>
