---
import navigation from '../data/navigation.json'
import site from '../data/site.json'

interface Props {
  pathname: string
}

const { pathname } = Astro.props as Props
---

<header class="container">
  <div class="header">
    <a href='/' rel='home' aria-label='Go to Homepage'>
      <img src='/favicon.svg' alt={site.title} />
      {site.title}
    </a>

    <nav>
      <ol>
        {navigation.map(({ title, href }) => (
          <li>
            <a href={href} aria-current={pathname === href ? "page" : false}>{title}</a>
          </li>
        ))}
      </ol>
    </nav>

    <button class="subtle icon">
      <span class="sr-only">toggle theme panel</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" role="img" aria-hidden="true">
        <path d="M18 4V3c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6h1v4H9v11c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-9h8V4h-3z"/>
      </svg>
    </button>

    <input type="checkbox" id="menubtn" class="sr-only" />
    <label role="button" for="menubtn" class="button subtle icon">
      <div class="menubtn__icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
  </div>
</header>

<style lang='scss'>
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: 'brand . theme menu';
    column-gap: var(--spacer-sm);
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .header > a {
    grid-area: brand;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  img {
    height: 3rem;
    width: 3rem;
    margin-right: var(--spacer-xs);
  }

  ol {
    list-style: none;
    display: flex;
    counter-reset: menu;

    li {
      counter-increment: menu;

      & a::before {
        content: "0" counter(menu);
        font-weight: bold;
        margin-right: var(--spacer-xs);
      }
    }
  }

  li {
    margin-right: var(--spacer-sm);
  }

  nav {
    grid-area: menu;
    display: none;
  }

  nav a {
    padding: var(--spacer-sm);
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      left: var(--spacer-sm);
      right: var(--spacer-sm);
      bottom: -3px;
      transform: scale(0);
      transform-origin: 0 50%;
      transition: transform .3s cubic-bezier(.86,0,.07,1);
    }

    &[aria-current=page]::after {
      transform: scale(1);
      background: var(--chisel-secondary);
    }

    &:not([aria-current=page]):hover::after {
      transform: scale(1);
      background: var(--chisel-neutral-300);
    }
  }

  button {
    grid-area: theme;
  }

  label[for=menubtn] {
    grid-area: menu;
    margin: 0;

    & .menubtn__icon {
      display: flex;
      flex-direction: column;
      width: 24px;
      cursor: pointer;
      margin: 0;
    }

    & span {
      background-color: currentColor;
      border-radius: 5px;
      height: 3px;
      margin: 3px 0;
      transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      &:nth-of-type(1) {
        width: 50%;
      }

      &:nth-of-type(2) {
          width: 100%;
      }

      &:nth-of-type(3) {
          width: 75%;
      }
    }
  }

  input:focus-visible + label {
    outline: 3px solid var(--chisel-secondary);
  }

  input:checked + label {
    & span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(4px, 1.5px);
    }

    & span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    & span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(10.5px, -6px) rotatez(45deg);
    }
  }

  @media screen and (min-width: 939px) {
    .header {
      grid-template-areas: 'brand . menu theme';
    }

    nav {
      display: initial;
    }

    label[for=menubtn] {
      display: none;
    }
  }
</style>