---
import Note from "./Note.astro"
import { getNotes } from "../utils/notes"

export interface Props {
  title: string
  ids: CMS.NoteSlug[]
}

const { ids } = Astro.props as Props

const notes = getNotes(Astro.fetchContent("../data/notes/*.md"), ids)
---

<section>
  {notes.map((note) => <Note note={note} share />)}
</section>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacer-md);
  }
</style>
