@use 'chisel.css/dist/chisel.css';
@use 'chisel.css/dist/chisel-prism.css';

:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-display: 'Playfair Display', Georgia, Times, serif;

  /* Spacer Sizes */
  --spacer-tiny: 0.25rem;
  --spacer-xs: 0.5rem;
  --spacer-sm: 1rem;
  --spacer-md: 2.5rem;
  --spacer-lg: 4rem;
  --spacer-xl: 6rem;

  /* Buttons */
  --icon-btn-size: 3rem;

  /* Containers */
  --width-prose: 85ch;

  /* Drop Shadows */
  --drop-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  --shadow-secondary: 0 0 3px var(--chisel-secondary);
}

:root[data-chisel-theme='dark'] {
  --drop-shadow: 0 0 3px rgba(255, 255, 255, 0.4);

  & :where(.button, button, input[type='button'], input[type='reset'], input[type='submit']) {
    background: var(--chisel-secondary);
  }
  
  & :where(.button, button, input[type='button'], input[type='reset'], input[type='submit']):hover {
    background: var(--chisel-neutral-700);
    border-color: var(--chisel-neutral-700);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  font-family: var(--font-family-display);
  letter-spacing: 0.0125em;

  &:first-child {
    margin-top: 0;
  }
}

:focus-visible {
  outline: 3px solid var(--chisel-secondary);
}

.container {
  --container-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr calc(100% - 2rem) 1fr;
  column-gap: var(--container-gap);
  padding: var(--container-gap) 0;
}

.container > * {
  grid-column: 2;
}

.container > .full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

button.secondary,
.button.secondary {
  border-color: var(--chisel-secondary);
  background-color: var(--chisel-secondary);
}

button.subtle,
.button.subtle {
  border-color: var(--chisel-neutral-200);
  background-color: var(--chisel-neutral-200);
  color: var(--chisel-neutral-900);

  &:hover,
  &:focus {
    border-color: var(--chisel-neutral-300);
    background-color: var(--chisel-neutral-300);
  }
}

button.icon,
.button.icon {
  height: var(--icon-btn-size);
  width: var(--icon-btn-size);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: var(--chisel-neutral-50);
}

.markdown {
  & h1,
  h2,
  h3,
  h4 {
    margin: 1.5em 0 0.5em;
  }

  & p {
    line-height: 1.7;
    font-size: 1.125rem;
  }

  & pre + p {
    margin-top: var(--spacer-sm);
  }

  & .twitter-tweet + p {
    margin-top: 1em;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (min-width: 640px) {
  :root {
    font-size: 18px;
    --chisel-h1: 4.209rem;
    --chisel-h2: 3.157rem;
    --chisel-h3: 2.369rem;
    --chisel-h4: 1.777rem;
    --chisel-h5: 1.333rem;
    --chisel-h6: 0.75rem;
  }

  .container {
    --container-gap: 2rem;
    grid-template-columns: 1fr min(calc(100% - 4rem), 1280px) 1fr;
  }

  .container.container--prose {
    grid-template-columns: 1fr min(var(--width-prose), calc(100% - 4rem)) 1fr;
  }
}
